.container {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
.container::after {
  content: "";
  background-image: url(https://rosie.graylab.jhu.edu/images/ligand_docking_icon.png);
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: auto;
}

h1 {
  color: #01529b;
  display: block;
  font-size: 32px;
  float: left;
  width: 400px;
}

header {
  background: #f6f6f6;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  min-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 500px) {
  header {
    flex-wrap: wrap;
  }
}

iframe {
  max-width: 560px;
  max-height: 315px;
}
ul {
  display: block;
  font-weight: bold;
  float: right;
  margin: 30px auto;
  padding-inline-end: 40px;
}

.nav-pages {
  display: inline-block;
  font-size: 18px;
  list-style-type: none;
  padding-left: 20px;
  vertical-align: middle;
}

.nav-link {
  color: #01529b;
  display: inline-block;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.media {
  text-align: center;
}
#header-img {
  width: 150px;
  display: block;
  float: left;
  height: 90%;
}

#description {
  text-align: center;
}

h2,
h3 {
  text-align: center;
}

#docking,
#video {
  display: inline-block;
  margin: 0 20px;
}

#home,
#dock,
#references {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

form {
  text-align: center;
}

.form-items {
  padding: 20px;
}

#protein,
#ligand {
  background: #01529b;
  color: #f6f6f6;
}

#submit {
  background: #01529b;
  border: 2px solid #01529b;
  border-radius: 10px;
  color: #f6f6f6;
  margin-left: 20px;
  padding: 7px 15px;
}

p.refs {
  margin-top: 0;
}
